.github
.git
.gitignore
.claude
.DS_Store
docs
kubernetes
node_modules
/.venv
/.svelte-kit
/build
/work
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
*.log
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
backend/data/*
backend/.webui_secret_key
desktop/setup.log
